{% extends "layout.njk" %}

{% block head %}
    <title>Detalhes - Foodfy</title>
{% endblock head %}

{% block content %}
    <section class="recipe container">
        <img src="/{{item.image}}" alt="Imagem de {{item.title}}">
        <div class="author">
            <h1>{{item.title}}</h1>
            <p>por
                {{item.author}}
            </p>
        </div>

        <h2>Igredientes</h2>
        {% for ingredient in item.ingredients %}
            <li>{{ingredient}}</li>
        {% endfor %}

        <h2>Modo de preparo</h2>
        {% for preparation in item.preparation %}
            <li>{{preparation}}</li>
        {% endfor %}

        <h2>Informações Adicionais</h2>
        <p>{{item.information}}</p>
    </section>
{% endblock content %}