

{% block content %}
    <main class="container">
        <div>
            <h1>As melhores receitas</h1>
            <p>Aprende a construir os melhores pratos com receitas criadas por proficionais do mundo inteiro.</p>
        </div>

        <img src="img/chef.png" alt="chef foodfy">
    </main>

    <section class="container m_acessadas">
        <h2>Mais acessadas</h2>
        <div class="cards">
            <div class="card">
                <img src="img/burger.png" alt="burger da foodfy">
                <h3>Triplo bacon burger</h3>
                <span>por Jorge Relado</span>
            </div>

            <div class="card">
                <img src="img/pizza.png" alt="pizza da foodfy">
                <h3>Pizza 4 estações</h3>
                <span>por Fabio Melo</span>
            </div>

            <div class="card">
                <img src="img/espaguete.png" alt="espeguete da foodfy">
                <h3>Espaguete ao alho</h3>
                <span>por Jília Kimoto</span>
            </div>

            <div class="card">
                <img src="img/lasanha.png" alt="lasanha da foodfy">
                <h3>Lasanha mac n’ cheese</h3>
                <span>por Juliano Vieira</span>
            </div>

            <div class="card">
                <img src="img/doce.png" alt="doce-de-pão da foodfy">
                <h3>Docinhos pão-do-céu</h3>
                <span>por Ricardo Pinto</span>
            </div>

            <div class="card">
                <img src="img/asinhas.png" alt="asinha da foodfy">
                <h3>Asinhas de frango ao barbecue</h3>
                <span>por Maisa Lopes</span>
            </div>
        </div>
    </section>
{% endblock content %}