{% extends "layout.njk" %}


{% block content %}
    <main class="container">
        <div>
            <h1>Erro 404</h1>
            <p>página não encontrada.</p>
        </div>
    </main>
{% endblock content %}