{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - Receitas</title>
{% endblock head %}

{% block content %}

    <section class="container">
        <div id="receitas" class="cards">
            n
            {% for  %}
                <div id="{{ itens[item] }}" class="card">
                    <img src="{{item.image}}" alt="foto de {{item.title}}">
                    <h3>{{item.title}}</h3>
                    <span>{{item.author}}</span>
                </div>
            {% endfor %}
        </div>
    </section>

    <script src="script.js"></script>

{% endblock content %}