{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - Receitas</title>
{% endblock head %}

{% block content %}

    <section class="container">
        <div id="receitas" class="cards">
            {% set i = 0 %}
            {% for item in itens %}
                <div id="{{ i }}" class="card">
                    <img src="{{item.image}}" alt="foto de {{item.title}}">
                    <h3>{{item.title}}</h3>
                    <span>{{item.author}}</span>
                </div>
            {% set i = i + 1 %}
            {% endfor %}
        </div>
    </section>

    <script src="script.js"></script>

{% endblock content %}